.breadcrumb {
    margin: 1rem 0;
    font-size: 16px;
    color: var(--clr-txt-150);
}

.breadcrumbItem {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.breadcrumbItem:hover {
    text-decoration: underline;
}

.breadcrumbItem:last-of-type {
    color: var(--clr-txt-100);
    cursor: none;
}
.breadcrumbItem:last-of-type:hover {
    text-decoration: none;
}

.breadcrumbItem:not(:last-of-type):before {
    color: var(--clr-txt-050);
    position: absolute;
    right: -.75rem;
    content: "/";
}

.content {
    font-size: 1rem;
    line-height: 32px;
}

.cardData {
    margin: 0;
}

.cardTag {
    margin-top: 8px;
}