
/* markdown theme 少数派 */
/* Sspai Web Theme A theme to [sspai](ssp.ai) default theme. Developed by Codegass(wchweichenhao@gmial.com) & Yves(yves@sspai.com) Download Cuto on the App Store and Google Play! */

.markdown {
  font-size: 1rem;
  /* color: var(--clr-txt-100); */
  /* font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif";
  margin: 0; */
}

.markdown h1 {
  display: none;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  line-height: 1.5em;
  margin-top: 2.2em;
  margin-bottom: 4px;
}

.markdown h2 {
  font-size: 1.4em;
  margin: 40px 10px 20px 0;
  /* padding-left: 9px; */
  /* border-left: 6px solid #ff7e79; */
  /* border-left: 6px solid rgba(0, 0, 0, .84); */
  font-weight: 700;
  line-height: 1.4;
}

.markdown h3 {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 10px 0 5px;
  padding-top: 10px;
}

.markdown h4 {
  font-weight: 700;
  /* text-transform: uppercase; */
  font-size: 1.1em;
  line-height: 1.4;
  margin: 10px 0 5px;
  padding-top: 10px
}

.markdown h5,
.markdown h6 {
  font-size: .9em;
}

.markdown h5 {
  font-weight: bold;
  /* text-transform: uppercase; */
}

.markdown h6 {
  font-weight: normal;
  color: #AAA;
}

.markdown img {
  width: 100%;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
  height: auto;
}

.markdown dl,
.markdown ol,
.markdown ul {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-left: 16px;
  line-height: 1.8;
  list-style: unset;
}

.markdown p {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.8;
}

.markdown a {
  /* color: #f22f27; */
  text-decoration: none;
}

.markdown a:hover {
  /* color: #f55852; */
  text-decoration: underline;
}

.markdown a:focus {
  outline-offset: -2px;
}

.markdown blockquote {
  font-size: 1em;
  font-style: normal;
  padding: 30px 38px;
  margin: 0 0 15px;
  position: relative;
  line-height: 1.8;
  text-indent: 0;
  border: none;
  color: #888;
}

.markdown blockquote:before {
  content: "“";
  left: 12px;
  top: 0;
  color: #E0E0E0;
  font-size: 4em;
  /* font-family: Arial, serif; */
  line-height: 1em;
  font-weight: 700;
  position: absolute;
}

.markdown blockquote:after {
  content: "”";
  right: 12px;
  bottom: -26px;
  color: #E0E0E0;
  font-size: 4em;
  /* font-family: Arial, serif; */
  line-height: 1em;
  font-weight: 700;
  position: absolute;
  bottom: -31px;
}

.markdown strong,
.markdown dfn {
  font-weight: 700;
}

.markdown em,
.markdown dfn {
  font-style: italic;
  font-weight: 400;
}

.markdown del {
  text-decoration: line-through;
}

/*code {font-size:90%;}*/

/*pre {text-align:left; overflow-x: scroll; color: #257fa0; background: #f6f6f6; padding: 10pt 15pt; border-radius: 3px; border: solid 1px #e2e2e2;}*/

.markdown pre {
  /* margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857; */
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  white-space: pre-wrap;
  background: var(--clr-code-bg) !important;
  border-radius: 4px;
  /* display: block; */
  /* background: #f8f8f8; */
  padding: 1rem .875rem;
  /* border: none; */
  margin-bottom: 25px;
  /* color: #666; */
  /* font-family: Courier, sans-serif; */
}

.markdown pre[lang]::before {
  content: attr(lang);
  /* background-color: red; */
  font-size: inherit;
  color: var(--clr-txt-100);
  display: block;
  line-height: 1.5;
  margin-bottom: 10px;
}

.markdown pre > pre {
  padding: 0 !important;
  margin: 0 !important;
}

.markdown code {
  color: var(--clr-code-txt);
  background: var(--clr-code-bg);
  /* padding: .125rem .375rem; */
  border-radius: 4px;
  margin: 0 8px;
  /* color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; */
  /* line-height: 0;
  position: relative;
  vertical-align: initial; */
}

.markdown p>code {
  /* color: var(--clr-code-txt); */
  /* background: var(--clr-code-bg); */
  padding: .125rem .375rem;
}

.markdown figure {
  margin: 1em 0;
}

.markdown figcaption {
  font-size: 0.75em;
  padding: 0.5em 2em;
  margin-bottom: 2em;
}

.markdown figure img {
  margin-bottom: 0px;
}

.markdown hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.markdown ol p,
.markdown ul p {
  margin-bottom: 0px;
}

.markdown li {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.markdown ol#footnotes {
  font-size: 0.95em;
  padding-top: 1em;
  margin-top: 1em;
  margin-left: 0;
  border-top: 1px solid #eaeaea;
  counter-reset: footer-counter;
  list-style: none;
  color: #555;
  padding-left: 5%;
  margin: 20px 0;
}

.markdown ol#footnotes li {
  margin-bottom: 10px;
  margin-left: 16px;
  font-weight: 400;
  line-height: 2;
  list-style-type: none;
}

.markdown ol#footnotes li:before {
  content: counter(footer-counter) ". ";
  counter-increment: footer-counter;
  font-weight: 800;
  font-size: .95em;
}

@keyframes highfade {
  0% {
    background-color: none;
  }

  20% {
    background-color: yellow;
  }

  100% {
    background-color: none;
  }
}

@-webkit-keyframes highfade {
  0% {
    background-color: none;
  }

  20% {
    background-color: yellow;
  }

  100% {
    background-color: none;
  }
}

.markdown a:target,
.markdown ol#footnotes li:target,
.markdown sup a:target {
  animation-name: highfade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: highfade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.markdown a:target {
  border: 0;
  outline: 0;
}

.dark code {
  background-color: white !important;
}
.dark pre {
  background-color: white !important;
}