.title {
   font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height: 3rem;
    margin: 24px 0;
    font-size: 32px;
    color: var(--clr-txt-200);
}

.title:first-child {
    /* margin-top: 1rem; */
}

.viewAll {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 2rem;
}

.viewAll::before, .viewAll::after {
    color: var(--clr-txt-150);
    transition: 0.3s ease all;
}

.viewAll:hover::before, .viewAll:hover::after, .viewAll:focus::before, .viewAll:focus::after {
    color: var(--clr-link);
}

.viewAll::before {
    position: absolute;
    right: 0.875rem;
    bottom: 0.625rem;
    font-size: 20px;
    pointer-events: all;
}

.list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}