@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Hiragino Sans GB', Helvetica, Arial, sans-serif;
}

.react-toggle-track {
  background-color: rgb(30, 41, 59) !important;
}
.react-toggle--checked .react-toggle-track {
  background-color: white !important;
}
.react-toggle--checked .react-toggle-thumb {
  border-color: rgb(30, 41, 59) !important;
  background-color: rgb(30, 41, 59) !important;
}

:root {
  --clr-bg: #09091b;
  --clr-link: #94b9f4;
  /* --clr-code-bg: #20273c; */
  --clr-code-bg: #20273c;
  --clr-code-txt: #d7def9;
  --clr-txt-050: hsla(0, 0%, 100%, 0.64);
  --clr-txt-100: hsla(0, 0%, 100%, 0.76);
  --clr-txt-150: hsla(0, 0%, 100%, 0.87);
  --clr-txt-200: hsla(0, 0%, 100%, 0.95);
  --br-lg: .5rem;
}